body{
    background-color: rgb(76, 74, 75);
    
}
button{
    background-color: rgb(84, 82, 84);
    width: 200px;
    margin: 8px;
    padding:12px 20px;
    display:inline-block;
    border:2px solid white;
    box-sizing: border-box;
    color: blanchedalmond;
    margin-left: 20px;
}
.form{
    border: 2px solid cornsilk;
    background-color: aliceblue;
    height: 510px;
    width: 300px;
    margin:auto;
    align-items: center;
}
h1{
    text-align: center;
    }
form input{
    padding: 4px;   
    width: 200px;
    margin-top:5px;
}
form p{
    margin-left: 30px;
}
